ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
	{
	margin: 0;
	padding: 0;
}

a img,:link img,:visited img {
	border: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body,td {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	background-color: #fff;
}

body {
	padding: 20px;
}

div#banner {
	float: center;
	left: 0px;
	top: 0px;
	height: 110px;
	width: 760px;
}

div#header {
	width: 760px;
	height: 22px;
	background: #CCCCFF;
}

div#header ul {
	/*list-style: none;
	display: inline;
	float: left;*/
}

div#header li {
	font-weight: bold;
	/*display: inline;
	list-style: none;	
	border-right: solid 1px #0066CC;
	padding: 0 7px;*/
}

div#header li.last {
	border-right: none;
}

div#content_main {
	float: left;
	width: 760px;
	margin-right: 0px;
}

.form_error
{
  color: #00ff00;
  background-color: #ff0000;
}